/* Extra small devices (mobile) */
@media screen  and (max-width: 576px){
  
}

/* Small devices (mobile/tablets) */
@media screen  and (min-width: 576px){
  
}

/* Medium devices (tablets/laptops) */
@media screen  and (min-width: 768px){
  
}

/* Large devices (laptops/desktops) */
@media screen  and (min-width: 992px){
  
}

/* Extra large devices (large desktops) */
@media screen and (min-width: 1200px){
  
}

html {
  font-size: 16px;
}


body{
  
  /* background-color: lightskyblue; */
  /* background-color: cornflowerblue; */
  /* background-image: url(portfolio_image1.png);
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: dodgerblue;
  margin: 0;
  /* max-width: 1440px;
  margin: auto; */
  /* border-style: solid; */
}

h1{font-size: 2.5rem; }
h2{font-size: 2rem; }
h3{font-size: 1.75rem; }
h4{font-size: 1.5rem; }
h5{font-size: 1.25rem; }
h6{font-size: 1rem; }

.nav{
  background-color: black;
  margin: 0;
  height: 80px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.nav a{
  /* padding-top: 4px; */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  text-align: center;
  font-size: 30px;
  /* width: 80px;
  height: 18px; */
  text-decoration: none;
  color: dodgerblue;
  /* border: 1px solid blue;
  border-radius: 15px; */

}

a:hover{
  color: aliceblue;
  cursor: pointer;
}

.name{
  margin: 0;
  /* text-align: center; */
  /* padding-right: 150px; */
}

.photo{
  /* width: 350px; */
  padding-top: 100px;
  padding-left: 16.665%;
}

.me {
  width: 350px;
  border-radius: 50px;
}

.text{
  float: right;
  padding-right: 33.33%;
  /* padding-top: 0px; */
}

.about-button{
  text-decoration: none;
  float: right;
  text-align: center;
  /* padding-right: 16.665%; */
  color: black;
  padding-top: 20px;
}
 
i{
  font-size: 80px;
}

i:hover{
  color: aliceblue;
  /* cursor: pointer; */
}
.icons{
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.left-site{
  flex: 1;
}

.right-site{
  /* float: right; */
  flex: -3;
}

.middle-site{
  flex: 8;
}

.text-about{
  font-size: 1.5rem;
}

.text-two{
  padding-left: 50px;
}

.text-three{
  padding-left: 100px;
}